{% extends "layout.njk" %}

{% block content %}
  {% import 'macros/navgation.njk' as nav %}
  {% import 'macros/table.njk' as table %}
  {% import 'macros/subMenu.njk' as subMenu %}
  {% import 'macros/overViewSubContent.njk' as overViewSubContent %}
  {{nav.active(navs, 'platformoverview')}}
  <!-- Page Content -->
  <div class="container">
    <!-- Heading Top Row -->
    {% include "partials/topImage.njk" %}
    <!-- Content row -->
    <!-- Sub menu -->
    <div class="row" id="platformContent">
      <div class="col-md-12 mb-5 h-100 row justify-content-between" >
        <div class="col-md-3 mb-5 justify-content-between sub-menu" >
          {{subMenu.renderSubMenus("平台概况", platformSubMenus)}}
        </div>
        {{overViewSubContent.renderSubContent(hardwareResourceTables, softwarePlatformTables)}}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="../static/js/render.js"></script>
  <script>
    
  </script>
{% endblock %}