<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>西北大学公共计算平台</title>
    <style type="text/css">

    </style>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/small-business.css" rel="stylesheet">
    <link href="../static/css/page.css" rel="stylesheet">
  </head>

  <body>
    
  
  
  
  
  
  <!-- Navigation -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img class="img-circle" id="titleIcon" src="../static/image/nwu.png" alt="">
      <a class="navbar-brand" href="#">西北大学公共计算平台</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="titleList" class="navbar-nav ml-auto">
          
            <li class="nav-item ">
              <a class="nav-link" id="main" href="./main.html">首页
              </a>
            </li>
          
            <li class="nav-item  active ">
              <a class="nav-link" id="platformoverview" href="./platformoverview.html">平台概况
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="servicemode" href="./servicemode.html">服务模式
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="rulesandregulations" href="./rulesandregulations.html">规章制度
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="operationguide" href="./operationguide.html">服务指南
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="contact" href="./contact.html">联系我们
              </a>
            </li>
          
        </ul>
      </div>
    </div>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="loginBtn" href="../../user/index.html">平台入口</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- Heading Top Row -->
    <div class="text-white py-4 text-center">
  <img class="img-rounded img-thumbnail" src="../static/image/center.png" id="centerIcon" alt="">
</div>
    <!-- Content row -->
    <!-- Sub menu -->
    <div class="row" id="platformContent">
      <div class="col-md-12 mb-5 h-100 row justify-content-between" >
        <div class="col-md-3 mb-5 justify-content-between sub-menu" >
          
  <!-- Sub menu -->
  <h2 class="col-md-12 sub-title" id="subTitle">平台概况</h2>
  
    <a role="button" class="list-group-item col-sub-menu  selected " id="hardwareResource" >
      硬件资源
    </a>
  
    <a role="button" class="list-group-item col-sub-menu " id="softwarePlatform" >
      软件平台
    </a>
  

        </div>
        
  <!-- Sub Content -->
  <div class="col-md-9 mb-5 row justify-content-between">
    <div class="col-md-12 mb-5 row justify-content-between" id="hardwareResourceContent">
      <h3 class="col-md-12 sub-content-title" id="subContentTitle">硬件资源</h3>
      <p class="col-md-12" id="subContent">
        
        
  <!-- Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        
          <th class="table-center table-middle">序号</th>
        
          <th class="table-center table-middle">设备名称</th>
        
          <th class="table-center table-middle">设备参数</th>
        
          <th class="table-center table-middle">数量</th>
        
      </tr>
    </thead>
    <tbody>
      
        <tr>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
            <td class="table-middle ">
              
                计算节点机箱
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">型号:&emsp;I48</p>
                
                  <p class="main built-table">总体高度:&emsp;高度4U</p>
                
                  <p class="main built-table">架构:&emsp;单个浪潮i48机箱支持8/4个双路计算节点，同一机箱支持8/4个双路计算节点混插，自主研发</p>
                
                  <p class="main built-table">灵活扩展:&emsp;支持计算节点、存储节点等不同类型节点混插</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                2
              
            </td>
          
            <td class="table-middle ">
              
                刀片计算节点
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">型号:&emsp;NS5488M5</p>
                
                  <p class="main built-table">规格:&emsp;在i48机箱竖插节点服务器</p>
                
                  <p class="main built-table">处理器:&emsp;配置2颗Intel Cascade Lake至强6240处理器；每颗CPU核心数18核，主频2.6GHz</p>
                
                  <p class="main built-table">内存:&emsp;16个内存插槽；支持高级内存纠错（ECC）、内存镜像、内存热备等高级功能；配置16GB×12根内存共计192GB DDR4 2933MT/s RDIMM内存</p>
                
                  <p class="main built-table">本地存储:&emsp;配置1块2.5英寸480GB SSD硬盘</p>
                
                  <p class="main built-table">网络接口:&emsp;配置4个1Gb以太网络电口</p>
                
                  <p class="main built-table">HCA卡:&emsp;配置1个100G EDR IB网卡，含线缆模块</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                6
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                3
              
            </td>
          
            <td class="table-middle ">
              
                胖节点
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">总体要求:&emsp;浪潮为国产品牌，自主研发，非OEM</p>
                
                  <p class="main built-table">型号:&emsp;NF8480M5</p>
                
                  <p class="main built-table">规格:&emsp;标准机架式服务器</p>
                
                  <p class="main built-table">处理器:&emsp;配置4颗Intel Cascade Lake至强6240处理器；每颗CPU核心数18核，主频2.6GHz</p>
                
                  <p class="main built-table">内存:&emsp;配置1.5TB DDR4 2933MT/s RDIMM内存;48个内存插槽；支持高级内存纠错（ECC）、内存镜像、内存热备等高级功能，支持2933MHz工作频率, 可选支持NVDIMM非易失内存</p>
                
                  <p class="main built-table">本地存储:&emsp;数据盘配置6块10TB SAS硬盘，共计60TB裸容量；系统盘配置2块2.5英寸480GB SSD硬盘</p>
                
                  <p class="main built-table">网络接口:&emsp;配置1个双端口万兆网卡，配置多模模块，4个1Gb以太网络电口</p>
                
                  <p class="main built-table">HCA卡:&emsp;配置1个100G IB网卡，含线缆模块</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                4
              
            </td>
          
            <td class="table-middle ">
              
                GPU节点I
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">总体要求:&emsp;国产品牌，自主研发，非OEM</p>
                
                  <p class="main built-table">型号:&emsp;NF5468M5</p>
                
                  <p class="main built-table">规格:&emsp;标准机架式服务器</p>
                
                  <p class="main built-table">处理器:&emsp;配置2颗Intel Cascade Lake至强6240处理器；单颗核心数18核，主频2.6GHz</p>
                
                  <p class="main built-table">内存:&emsp;配置192GB DDR4 2933MT/s RDIMM内存; 24个内存插槽；支持内存纠错（ECC）、内存镜像、内存热备等功能</p>
                
                  <p class="main built-table">本地存储:&emsp;配置2块240GB 2.5寸 企业级SSD硬盘，4块1.8T 2.5寸 企业级SAS硬盘</p>
                
                  <p class="main built-table">GPU卡:&emsp;配置8块Nvidia RTX2080TI</p>
                
                  <p class="main built-table">HCA卡:&emsp;配置1个100G IB网卡，含线缆模块</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                2
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                5
              
            </td>
          
            <td class="table-middle ">
              
                GPU节点II
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">型号:&emsp;NF5280M5</p>
                
                  <p class="main built-table">处理器:&emsp;配置2颗IntelCascade Lake至强6240处理器；单颗核心数18核，主频2.6GHz</p>
                
                  <p class="main built-table">内存:&emsp;配置192GB DDR4 2933MT/s RDIMM内存; 24个内存插槽；支持高级内存纠错（ECC）、内存镜像、内存热备等高级功能</p>
                
                  <p class="main built-table">本地存储:&emsp;配置2块240GB 2.5寸 企业级SSD硬盘,4块1.8T 2.5寸 企业级SAS硬盘</p>
                
                  <p class="main built-table">网络接口:&emsp;配置4个1Gb以太网络电口</p>
                
                  <p class="main built-table">GPU卡:&emsp;配置2块NVDIA_32GB_TESLA-V100，最大支持4个全宽GPU卡，文件提供GPU散热测试、GPU连接拓扑等相关佐证材料</p>
                
                  <p class="main built-table">HCA卡:&emsp;配置1个100G IB网卡，含线缆模块</p>
                
                  <p class="main built-table">I/O扩展槽:&emsp;含9个PCIE插槽,支持4个全宽GPU</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                6
              
            </td>
          
            <td class="table-middle ">
              
                并行存储系统
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">型号:&emsp;AS13000G5</p>
                
                  <p class="main built-table">处理器:&emsp;配置3个节点，支持控制器数量可并行扩展至5120个</p>
                
                  <p class="main built-table">内存:&emsp;单节点配置两颗Inter至强4210 CPU、主频2.2GHz，本地缓存96G DDR4，2块600G 10K SAS硬盘、6块480G SSD硬盘、240TB裸容量（采用30块8TB企业级热插拔SATA硬盘）；单节点配置4个千兆电口和1个100G EDR网络接口，2个万兆以太网光口，含多模模块</p>
                
                  <p class="main built-table">本地存储:&emsp;采用2副本模式，可用容量300TB</p>
                
                  <p class="main built-table">网络接口:&emsp;配置4个1Gb以太网络电口</p>
                
                  <p class="main built-table">数据冗余保护:&emsp;</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                7
              
            </td>
          
            <td class="table-middle ">
              
                高性能计算网络交换机
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;Mellanox</p>
                
                  <p class="main built-table">型号:&emsp;SB7890</p>
                
                  <p class="main built-table">交换机:&emsp;100G EDR 36端口，保证所有计算/存储节点100Gb线速交换</p>
                
                  <p class="main built-table">线缆:&emsp;配置15端口100Gb光纤线缆，单根线缆长度3米</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                8
              
            </td>
          
            <td class="table-middle ">
              
                管理网络交换机
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">型号:&emsp;S6550-48TQ-AC/D</p>
                
                  <p class="main built-table">交换机:&emsp;交换机网络采用千兆交换，提供所需交换机、线缆等设备，保证全系统所有节点1Gb千兆线速交换</p>
                
                  <p class="main built-table">线缆:&emsp;48口 10/100/1000M 自适应电口，4 个1G/10G SFP+光口</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                9
              
            </td>
          
            <td class="table-middle ">
              
                云平台网络交换机
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;浪潮</p>
                
                  <p class="main built-table">型号:&emsp;CN8672UP-16G</p>
                
                  <p class="main built-table">处理器:&emsp;配置固定1G/10G以太网SFP+端口48个，其中24个端口支持2/4/8/16G光纤通道，固定40G QSFP+端口6个</p>
                
                  <p class="main built-table">线缆:&emsp;配置万兆多模光模块24个</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle ">
              
                10
              
            </td>
          
            <td class="table-middle ">
              
                高性能集群软件
              
            </td>
          
            <td class="table-middle ">
              
                
                  <p class="main built-table">品牌:&emsp;联旌智能科技高性能计算云平台EaaS</p>
                
              
            </td>
          
            <td class="table-middle ">
              
                1
              
            </td>
          
        </tr>
      
    </tbody>
  </table>

      </p>
    </div>
    <div class="col-md-12 mb-5 row justify-content-between hiden" id="softwarePlatformContent">
      <h3 class="col-md-12 sub-content-title" id="subContentTitle">软件平台</h3>
      <p class="col-md-12 p-text-justify " id="subContent">
        <h4 class="col-md-12 sub-content-title border-big p-tilte-small" id="platFormInfo">平台简介</h4>
<p class="col-md-12 p-line-height p-margin p-text-justify" id="platFormInfoContent">
  &emsp;&emsp;云计算技术的落地极大地推动了社会各行各业信息化的发展，全球云计算市场规模持续高增长。但通用云计算采用的三种模式（IaaS, PaaS,SaaS）在满足科研环境下以计算为核心、以数据为主体的使用方式时显得力不从心，
  甚至在通用云计算领域作为技术支撑的虚拟化技术的“一虚多”的复用理念与计算领域基本的“多聚一”的聚合理念明显背道而驰。因此，我们根据计算领域的需求特点打造出全新的云计算服务模式：EaaS 模式。
  EaaS 表示 Environment as a Service,在传统的(IaaS,PaaS,SaaS)服务模式的基础上，不仅仅给科研计算用户提供传统计算中心提供的强大的算力，还提供根据实际应用程序所需的、用户可自定义的、
  动态切换的计算环境，提供从算力、算法到数据的全方位服务。在计算场景上支持从传统的批量作业提交到单机交互计算（包括命令行终端和图形桌面应用）再到人工智能调参叠代模式以及预处理、数值计算、后处理工作流模式的全面支持。
  在技术手段上，融合最前沿的容器技术、前端展示技术、高性能计算技术，根据计算场景需求量身定制独有的。
</p>
<h4 class="col-md-12 sub-content-title border-big p-tilte-small" id="platformArchitecture">平台架构</h4>
<img class="img-rounded img-thumbnail p-margin" src="../static/image/platformArchitecture.png" alt="">
<h4 class="col-md-12 sub-content-title border-big p-tilte-small p-margin" id="softwareService">软件服务</h4>
        
  <!-- Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        
          <th class="table-center table-middle">软件</th>
        
          <th class="table-center table-middle">版本</th>
        
          <th class="table-center table-middle">免费开源/商业</th>
        
          <th class="table-center table-middle">软件功能特点</th>
        
      </tr>
    </thead>
    <tbody>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Gcc
              
            </td>
          
            <td class="table-middle  table-center ">
              
                8.3
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                编程语言译器
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                R
              
            </td>
          
            <td class="table-middle  table-center ">
              
                3.6.1
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                数据处理、计算和制图软件
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Openmpi
              
            </td>
          
            <td class="table-middle  table-center ">
              
                4.0.2/1.10.7
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                高性能消息传递库
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Mpich
              
            </td>
          
            <td class="table-middle  table-center ">
              
                3.2.1
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                通讯协议
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Tensorflow
              
            </td>
          
            <td class="table-middle  table-center ">
              
                2.0.0/1.14.0
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                数据流编程
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Python
              
            </td>
          
            <td class="table-middle  table-center ">
              
                3.8.0/2.7.17
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                计算机程序设计语言
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Cuda
              
            </td>
          
            <td class="table-middle  table-center ">
              
                10.0
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                运算平台
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Gfortran
              
            </td>
          
            <td class="table-middle  table-center ">
              
                8.3
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                编译器
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Slurm
              
            </td>
          
            <td class="table-middle  table-center ">
              
                
              
            </td>
          
            <td class="table-middle  table-center ">
              
                免费开源
              
            </td>
          
            <td class="table-middle  table-center ">
              
                集群调度器
              
            </td>
          
        </tr>
      
        <tr>
          
            <td class="table-middle  table-center ">
              
                Matlab
              
            </td>
          
            <td class="table-middle  table-center ">
              
                2020
              
            </td>
          
            <td class="table-middle  table-center ">
              
                商业版
              
            </td>
          
            <td class="table-middle  table-center ">
              
                商业数学软件
              
            </td>
          
        </tr>
      
    </tbody>
  </table>

      </p>
    </div>
  </div>

      </div>
    </div>
  </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 西北大学 2020</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    
  <script src="../static/js/render.js"></script>
  <script>
    
  </script>

  </body>
</html>
