<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>西北大学公共计算平台</title>
    <style type="text/css">

    </style>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/small-business.css" rel="stylesheet">
    <link href="../static/css/page.css" rel="stylesheet">
  </head>

  <body>
    
  
  
  
  <!-- Navigation -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img class="img-circle" id="titleIcon" src="../static/image/nwu.png" alt="">
      <a class="navbar-brand" href="#">西北大学公共计算平台</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="titleList" class="navbar-nav ml-auto">
          
            <li class="nav-item ">
              <a class="nav-link" id="main" href="./main.html">首页
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="platformoverview" href="./platformoverview.html">平台概况
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="servicemode" href="./servicemode.html">服务模式
              </a>
            </li>
          
            <li class="nav-item  active ">
              <a class="nav-link" id="rulesandregulations" href="./rulesandregulations.html">规章制度
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="operationguide" href="./operationguide.html">服务指南
              </a>
            </li>
          
            <li class="nav-item ">
              <a class="nav-link" id="contact" href="./contact.html">联系我们
              </a>
            </li>
          
        </ul>
      </div>
    </div>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="loginBtn" href="../../user/index.html">平台入口</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- Heading Top Row -->
    <div class="text-white py-4 text-center">
  <img class="img-rounded img-thumbnail" src="../static/image/center.png" id="centerIcon" alt="">
</div>
    <!-- Content row -->
    <div class="row" id="serviceMode">
      <div class="col-md-12 mb-5 h-100 row justify-content-between" >
        <div class="col-md-3 mb-5 justify-content-between sub-menu" >
          
  <!-- Sub menu -->
  <h2 class="col-md-12 sub-title" id="subTitle">规章制度</h2>
  

        </div>
        <!-- Content -->
<div class="col-md-9 mb-5 row justify-content-between">
  <div class="col-md-12 mb-5 row justify-content-between" id="reulesAndRegulationContent">
    <h3 class="col-md-12 sub-content-title" id="subContentTitle">规章制度</h3>
    <p class="col-md-12 p-line-height title-margin p-text-center p-title-font-weight" id="reulesAndRegulationTitle">
      西北大学公共计算平台管理办法
    </p>
    <p class="col-md-12 p-line-height p-text-center p-title-content-margin p-title-font-weight">
      （草案）
    </p>
    <p class="col-md-12 p-line-height p-text-justify">
      &emsp;&emsp;为了加强学校公共计算平台建设规划和运行管理水平，充分发挥投资效益，提升学校高性能计算、人工智能和大数据应用水平，结合《西北大学仪器设备类资产管理办法》，制定本办法。
    </p>
    <p class="col-md-12 p-line-height p-text-center p-title-font-weight" id="reulesAndRegulationTitle">
      第一章  &emsp;组织机构
    </p>
    <p class="col-md-12 p-line-height p-text-justify">
      &emsp;&emsp;第一条 西北大学公共计算平台为校级公共平台，依托网络与数据中心建设和管理。<br />

      &emsp;&emsp;第二条 西北大学公共计算平台由网络与数据中心负责，主要承担平台的规划建设、日常运行管理。<br />

      &emsp;&emsp;第三条 有西北大学公共计算平台应用研究需求的相关学院，为西北大学公共计算平台在规划建设、运行管理等提供咨询、建议。<br />
    </p>
    <p class="col-md-12 p-line-height p-text-center p-title-font-weight" id="reulesAndRegulationTitle">
      第二章  &emsp;建设与管理
    </p>
    <p class="col-md-12 p-line-height p-text-justify">
      &emsp;&emsp;第四条 西北大学公共计算平台由学校统一规划建设，鼓励各院系研究科研及社会资本参与平台建设。<br />

      &emsp;&emsp;第五条 西北大学公共计算平台应加强技术队伍建设、保障设备稳定高效运行，面向用户开放服务；积极开展用户培训、技术交流等活动，为用户提供技术支撑。<br />

      &emsp;&emsp;第六条 西北大学公共计算平台设备暂时实行免费使用政策。<br />

      &emsp;&emsp;第七条 西北大学公共计算平台运行经费列入学校年度经费预算，主要用于设备维护修维、耗材配件、学习培训、外包服务、聘用人员费用等。<br />

      &emsp;&emsp;第八条 鼓励用户对西北大学公共计算平台台服务进行评价，对利用计算平台开展高水平研究取得重大成果并及时反馈于平台的用户，给予优先使用权与优先资源配置权。<br />
    </p>
    <p class="col-md-12 p-line-height p-text-center p-title-font-weight" id="reulesAndRegulationTitle">
      第三章  &emsp;绩效考核
    </p>
    <p class="col-md-12 p-line-height p-text-justify">
      &emsp;&emsp;第九条 网络与数据中心对西北大学公共计算平台台使用情况基于《高等学校贵重仪器设备年度效益评价表》进行年度考核。<br />
      &emsp;&emsp;第十条 年度考核主要内容包括：设备完好率、资源利用率、用户满意度、用户培训、技术交流等。<br />
    </p>
    <p class="col-md-12 p-line-height p-text-center p-title-font-weight" id="reulesAndRegulationTitle">
      第四章  &emsp;其他
    </p>
    <p class="col-md-12 p-line-height p-text-justify">
      &emsp;&emsp;第十一条 本办法由西北大学网络与数据中心负责解释。<br />
      &emsp;&emsp;第十二条 本办法自印发之日起施行。<br />
    </p>
  </div>
</div>
      </div>
    </div>
  </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 西北大学 2020</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    
  <script>
    
  </script>

  </body>
</html>
