<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>西北大学公共计算平台</title>
    <style type="text/css">

    </style>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/small-business.css" rel="stylesheet">
    <link href="../static/css/page.css" rel="stylesheet">
  </head>

  <body>
    {% block content %} {% endblock %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 西北大学 2020</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    {% block script %} {% endblock %}
  </body>
</html>
