<!-- Content -->
<div class="col-md-9 mb-5 row justify-content-between">
  <div class="col-md-12 mb-5 row justify-content-between" id="operationGuideContent">
    <h3 class="col-md-12 sub-content-title" id="subContentTitle">服务指南</h3>
    <p class="col-md-12 p-line-height title-margin" id="">
      &emsp;&emsp;试运行阶段我校师生可免费申请使用。请需要使用的老师准备所需要的软硬件环境需求，前往信息与数据中心处校园网服务接待中心登记并开通测试账号即可使用。<br /><br />
      登记地点：&emsp;校本部北院教学楼二楼校园网服务接待中心<br />
      服务时间：&emsp;8:00 - 12:00、14:00 - 18:00、19:00 - 22:00<br />
      联系电话：&emsp;82334701
    </p>
  </div>
</div>