<h4 class="col-md-12 sub-content-title border-big p-tilte-small" id="platFormInfo">平台简介</h4>
<p class="col-md-12 p-line-height p-margin p-text-justify" id="platFormInfoContent">
  &emsp;&emsp;云计算技术的落地极大地推动了社会各行各业信息化的发展，全球云计算市场规模持续高增长。但通用云计算采用的三种模式（IaaS, PaaS,SaaS）在满足科研环境下以计算为核心、以数据为主体的使用方式时显得力不从心，
  甚至在通用云计算领域作为技术支撑的虚拟化技术的“一虚多”的复用理念与计算领域基本的“多聚一”的聚合理念明显背道而驰。因此，我们根据计算领域的需求特点打造出全新的云计算服务模式：EaaS 模式。
  EaaS 表示 Environment as a Service,在传统的(IaaS,PaaS,SaaS)服务模式的基础上，不仅仅给科研计算用户提供传统计算中心提供的强大的算力，还提供根据实际应用程序所需的、用户可自定义的、
  动态切换的计算环境，提供从算力、算法到数据的全方位服务。在计算场景上支持从传统的批量作业提交到单机交互计算（包括命令行终端和图形桌面应用）再到人工智能调参叠代模式以及预处理、数值计算、后处理工作流模式的全面支持。
  在技术手段上，融合最前沿的容器技术、前端展示技术、高性能计算技术，根据计算场景需求量身定制独有的。
</p>
<h4 class="col-md-12 sub-content-title border-big p-tilte-small" id="platformArchitecture">平台架构</h4>
<img class="img-rounded img-thumbnail p-margin" src="../static/image/platformArchitecture.png" alt="">
<h4 class="col-md-12 sub-content-title border-big p-tilte-small p-margin" id="softwareService">软件服务</h4>