<!-- Content -->
<div class="col-md-9 mb-5 row justify-content-between">
  <div class="col-md-12 mb-5 row justify-content-between" id="contactContent">
    <h3 class="col-md-12 sub-content-title" id="subContentTitle">联系我们</h3>
    <p class="col-md-12 p-line-height title-margin" id="conatctUs">
      <b>管理单位</b>&emsp;西北大学现代教育技术中心<br />
      <b>支持单位</b>&emsp;西北大学现代教育技术中心<br />
      <b>地址&emsp;&emsp;</b>&emsp;长安校区图书馆一层西侧<br />
      &emsp;&emsp;&emsp;&emsp;&emsp;长安校区大平台西侧信息化服务中心<br />
      &emsp;&emsp;&emsp;&emsp;&emsp;太白校区科技楼一层西侧<br />
      &emsp;&emsp;&emsp;&emsp;&emsp;桃园校区行政楼一层北侧<br />
      <b>服务热线</b>&emsp;88301234<br />
      <b>服务信箱</b>&emsp;hpc@***.cn<br />
    </p>
  </div>
</div>