{% macro active(navs, activePage = 'main') %}
  <!-- Navigation -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img class="img-circle" id="titleIcon" src="../static/image/nwu.png" alt="">
      <a class="navbar-brand" href="#">西北大学公共计算平台</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="titleList" class="navbar-nav ml-auto">
          {% for nav in navs %}
            <li class="nav-item {%if activePage == nav.id %} active {% endif %}">
              <a class="nav-link" id="{{nav.id}}" href="{{nav.path}}">{{nav.name}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="loginBtn" href="../../user/index.html">平台入口</a>
        </li>
      </ul>
    </div>
  </nav>
{% endmacro %}