{% macro renderSubContent(hardWareTables, softWareTables) %}
  <!-- Sub Content -->
  <div class="col-md-9 mb-5 row justify-content-between">
    <div class="col-md-12 mb-5 row justify-content-between" id="hardwareResourceContent">
      <h3 class="col-md-12 sub-content-title" id="subContentTitle">硬件资源</h3>
      <p class="col-md-12" id="subContent">
        {% import 'macros/table.njk' as table %}
        {{table.renderTable(hardWareTables, true)}}
      </p>
    </div>
    <div class="col-md-12 mb-5 row justify-content-between hiden" id="softwarePlatformContent">
      <h3 class="col-md-12 sub-content-title" id="subContentTitle">软件平台</h3>
      <p class="col-md-12 p-text-justify " id="subContent">
        {% include "../partials/softWarePlatForm.njk" %}
        {{table.renderTable(softWareTables)}}
      </p>
    </div>
  </div>
{% endmacro %}