#titleIcon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  margin-right: 8px;
  border-radius: 50%;
}
#centerIcon {
  width: 100%;
  height: 300px;
}
#loginBtn {
  width: 120px;
}
.sub-menu {
  float: left;
  position: relative;
}
.sub-title {
  background: #2e79ba;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 4px;
  font-size: 1.8rem;
  margin-bottom: 0px;
  padding-left: 40px
}
.col-sub-menu {
  letter-spacing: 4px;
  padding-left: 40px;
  font-size: 1.2rem;
  color: #565454;
}
.col-sub-menu:hover, .selected {
  background: #eee;
  color: #2e79ba;
  text-decoration: none;
}
.sub-content-title {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  color: #2e79ba;
  border-bottom: 3px solid #CBCBCB;
  letter-spacing: 2px;
  padding-bottom: 5px;
}
.built-table {
  border-bottom: 1px solid #CBCBCB;
}
.table-center {
  text-align: center;
}
.table-middle {
  vertical-align: middle !important;
}
.border-big {
  border-bottom: 4px solid #2e79ba;
}
.p-line-height {
  line-height: 200%;
}
.p-margin {
  margin-bottom: 20px;
  margin-top: 10px;
}
.p-tilte-small {
  font-size: 16px;
}
.hiden {
  display: none;
}
.p-text-justify {
  text-align: justify;
  text-justify: inter-ideograph;
}
.p-text-center {
  text-align: center;
}
.p-title-content-margin {
  margin-bottom: 30px;
}
.p-title-font-weight {
  font-weight: 600
}
.title-margin {
  margin-top: 20px;
}
.h-title-font {
  font-weight: 400;
  color: #6d99b9;
}
.border-block {
  border: 2px solid #5d85b3;
}
.content-padding {
  padding: 10px;
}
.img-size {
  height: 380px;
}