{% extends "layout.njk" %}

{% block content %}
  {# {% include "partials/navgation.njk" %} #}
  {% import 'macros/navgation.njk' as nav %}
  {{nav.active(navs, 'main')}}
  <!-- Page Main Content -->
  <div class="container">
    <!-- Heading Top Row -->
    <div class="row align-items-center my-5">
      <!-- topLeft -->
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-lg-0 img-size" src="../static/image/dataCenterRack.png" alt="">
      </div>
      <!-- topRight -->
      <div class="col-lg-5">
        <h1 class="h-title-font content-padding" id="topRightTitle">西北大学公共计算平台</h1>
        <p class=" title-margin content-padding p-line-height p-text-justify" id="topRightContent">
          公共计算平台是一所大学重要的科研支撑条件西北大学高度重视科学计算在提高科学研究水平推动工程技术创新中的革命性作用平台主要应用领域包括：
          数学、深度学习、大气海洋环境、新能源新材料、天文地球物理、生物医药健康等，涉及数学、统计学、力学、物理学、化学、生物学、地球科学、
          航天航空科学、计算机科学等多学科。校级公共计算平台将竭诚为全校各领域的高性能计算用户提供高质量的高性能计算服务，欢迎大家使用。
        </p>
        <!-- <a class="btn btn-primary" href="#">详细情况</a> -->
      </div>
    </div>

    <!-- Content Row -->
    <div class="row" id="content">
      <div class="col-md-6 mb-5" >
        <div class="card h-100">
          <div class="card-body">
            <h2 class="h-title-font" id="bottomLeftTitle">平台介绍</h2>
            <p class="card-text title-margin content-padding p-line-height p-text-justify" id="bottomLeftContent">
              校属各单位、各位老师和同学：<br />
              &emsp;&emsp;为满足我校广大师生不断增长的科研计算需求，整合并共享全校高性能计算、
              人工智能和大数据平台硬件资源，促进相关学科提升水平，经过前期充分调研和论证，
              由网络和数据中心牵头实施的公共计算平台已调试完成，开始试运行。
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="h-title-font" id="bottomRightTitle">资源情况</h2>
            <p class="card-text title-margin content-padding p-line-height p-text-justify" id="bottomRightContent">
              公共计算平台包括1个管理节点、6个CPU计算 节点、1个两块NVIDIA v100 GPU计算节点，
              2个8块NVIDIA GeForce 2080Ti GPU计算节点和3台分布式存储组成。网络采用100G Infiniband高速网络互联。
              平台提供高性能计算、大数据、人工智能、容器和虚拟化等多种应用场景，为科研计算提供服务。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>

  </script>
{% endblock %}